<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <title>Secrets</title>
</head>
<body class="container">
  <h1>Dojo Secrets</h1>
  <a href="/logout" class="u-pull-right">Logout</a>
  <h4>Welcome <%= result.firstName %></h4>
  <% if (messages.errors) { %>
    <% for (let error of messages.errors) { %>
      <p style="color:red"><%= error %></p>
    <% } %>
  <% } %>
  <form action="/secrets" method="post">
    <h5>Create a secret</h5>
    <label for="secret">Secret:</label>
    <input type="text" name="secret" class="u-full-width">
    <br>
    <input type="submit" value="submit">
  </form>

  <table class="secrets">
    <tbody>
      <% for (secret of secrets) { %>
        <tr>
          <td><a href="/secrets/<%= secret._id %>"><%= secret.secret %></a></td>
          <% for (user_secret of result.secrets) { %>
            <% if (user_secret.id === secret.id) { %>
              <td>
                <a href="/secrets/destroy/<%= secret.id %>">Delete</a>
              </td>
            <% } %>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>